<suite thread-count="1" verbose="1" name="AutomationPractice">
    <test name="BS23 Automation task">
        <groups>
            <run>
                <include name="Purchase"></include>
            </run>
        </groups>
        <classes>
            <class name="TestRunner.AutomationTestRunner"/>
        </classes>
    </test>
</suite>